.userDataContainer{
  width: 100%;
  border-bottom: 1px solid rgb(189, 189, 189);
  padding-bottom: 60px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap:20px;
}

.userDataContainer h3{
  text-transform: uppercase;
  margin-top: 0;
}

.userDataContainer .break{
  margin:0;
}

 .userDataContainer button{
  background-color: rgb(240, 240, 240);
  color:rgb(2, 2, 2);
  padding: 5px 10px 5px 10px;
  font-size: 19px;
  transition: all 0.3s ease;
  min-width: 120px;
}

.userDataContainer form{
  width: 100%;
}

 .userDataContainer button:hover{
  background-color: rgb(192, 36, 36);
  color: white;
}

.userDataInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.openedButtons{
  display: flex;
  gap:15px;
}

.flexColumn{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.dataRow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 28px;
}

.dataRowPasswd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.gap{
    gap:180px;
}

.dataName{
    min-width: 150px;
}

.data{
    min-width: 100px;
}

.userDataContainer:last-child{
    border-bottom: none;
}

/* --------------------popup style---------------------------- */
  
  /* .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup button {
    margin-top: 10px;
  } */

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup {
    position: relative;
    background-color: white;
    padding: 55px 40px 55px 40px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .popupButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup button {
    margin-top: 5px;
  }

  .passwdButton{
    margin-top: 30px;
  }

  .passwdChangeStatus{
    display: flex;
    flex-direction: column;
    font-size:11px;
    margin-top: 17px;
  }

.passwdSpan span{
  height: 22px;
}