.reservationContainer{
    width:100%;
    min-height:130px;
    max-height: 150px;
    margin-top: 30px;
    border-radius: 8px;
    border: 1px solid rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    background-color: rgb(29, 29, 29);
    color: white;
}

.left{
    width: 20%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left > img{
    max-width:95px;
    object-fit: cover;
    
}

.mid{
    width: 55%;
    height:100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.right{
    width: 25%;
    height:100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    gap:30px;
}

.paginationButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 100%;
    margin-top: 30px;
}

.paginationButtons button{
    padding: 7px 14px 7px 14px;
    font-size: 19px;
    transition: all 0.3s ease;
    border-radius: 4px;

}

.paginationButtons button:enabled:hover{
    background-color: rgb(192, 36, 36);
    color: white;
}
