<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
chujek mujek
<h1>All Patients</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First_name</th>
        <th>Last_name</th>
        <th>Age</th>
        <!-- Dodaj więcej kolumn według potrzeb -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="patients : ${patients}">
        <td th:text="${patients.id}"></td>
        <td th:text="${patients.first_name}"></td>
        <td th:text="${patients.last_name}"></td>
        <td th:text="${patients.age}"></td>
        <!-- Dodaj więcej komórek według potrzeb -->
    </tr>
    </tbody>
</table>
</body>
</html>