.mainContainer{
    display: flex;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgb(56, 56, 56) 50%, rgb(54, 54, 54) 50%);
}

.leftContainer{
    background-color: rgb(24, 24, 24);
    color:white;
    width:20%;
}

.rightContainer{
    
    width:80%;
    color:white
}

.menu{
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.menu li{
    height: 60px;
    font-size: 18px;
    margin-left: 30px;
    cursor: pointer;
}

.mainContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mainContent  table{
    width:100%;
    height: 100%;
}


.blockForm{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}

.blockForm label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
}

.buttons{
    margin-top: 40px;
    display: flex;
    gap:15px;
}

.mainContent{
    margin-top: 14px;
    margin-left: 14px;
}

.rightContainer .formContainer{
    max-width: 600px;
}

.rightContainer .formContainer form{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.rightContainer .formInputs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.adminForm{
    flex-direction: column;
}

.adminForm button{
    margin-bottom: 50px;
}