.nav-bg{
    background-color: rgb(24, 24, 24);
}


.nav-link{
    color:white;
}

nav{
    height:100px;
}

.logInButtons{
    display: flex;
    gap:20px;
}

.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navColor{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 8px 8px 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.navColor:hover{
    color:wheat;
    text-decoration: none;
}

.navbar{
    border-bottom:2px solid rgb(32, 32, 32);
    position: sticky;
    top:0;
    z-index:3;
}

.navbar-nav{
    margin:0 auto;
}

.logButton{
    border:1px solid rgb(255, 184, 184);
    background-color: white;
    color:black;
    text-transform: uppercase;
}

.logButton:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(194, 0, 0);
}

.regButton{
    color:white;
    text-transform: uppercase;
}

.regButton:hover{
    color:rgb(241, 33, 33);
}

.navWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    max-width:1160px;
    width:100%;
}

.activeHover{
    color:red !important;
}

.navbar-company{
    color:rgb(199, 49, 49);
    font-size: 32px;
    transition: all 0.5s ease;
}

.navbar-company:hover{
    color:gold;
}

/* -------------USER INFO -------------------- */

.userInfoMenu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfo span{
    color:white;
}

.logout{
    margin-left:30px;
    padding:10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 7px;
    color:white;
    background-color: rgb(168, 36, 36);
    text-transform: uppercase;
    transition: ease 0.2s;
}

.logout:hover{
    background: rgb(97, 13, 13);
}


.dashboardLink{
    width: 35px;
    height: 35px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardLink img{
    width: 45px;
    height: 45px;
}