.repertoryWrapper{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin:0 auto;
    gap:90px;
}

.repertory-items-container{
    display: flex;
    flex-direction: column;
    gap:70px;
}

.rep-body{
    display: flex;
    flex-direction: column;
    gap: 90px;
    background: linear-gradient(to bottom right, rgb(253, 253, 253) 50%, rgb(247, 247, 247) 50%);
    flex:1;
}
.date-city-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top: 40px;
    gap:30px;
}
.custom-dropdown{
    margin: 0;
}
.repertory-item{
    display: flex;
    gap: 40px;
}
.repertory-image{
    width: 180px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px rgb(168, 163, 163);
    filter: brightness(1.1);
}
.repertory-title{
    font-size: 30px;
    color: rgb(3, 3, 3);
}
.repertory-description{
    color: rgb(0, 0, 0);
    max-width: 950px;
    text-align: justify;
}
.repertory-category{
    color: rgb(0, 0, 0);
}
.container-repertory{
    display: flex;
    gap: 25px;
    max-width: 1000px;
}
.show-repertory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: solid rgb(52, 13, 126);
    color:white !important;
}
.show-repertory:hover{
    cursor: pointer;
    background-color: rgb(46, 33, 119);
    color:white !important;
}

.hour-text{
    color:rgb(0, 0, 0);
    font-size: 28px;
    margin: 0px 10px 10px 10px;
}

.hour-text:hover{
    color:white;
}

.dubbing-text{
    color:black;
    font-size: 18px;
    margin: 0px 10px 10px 10px;
}

.dubbing-text:hover{
    color:white;
}

.empty-repertory{
    color: red;
    width: 100%;
    text-align: center;
}
.date-button{
    min-width: 220px;
    min-height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(202, 191, 191);
    background-color: rgb(25, 25, 51);
    color: white;
}
.tommorow-date-button{
    background-color: rgb(25, 25, 51);
    color: white;
    border-radius: 5px;
    height: 38px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .custom-button{
    margin: 0;
  }