body{
    background-image: url('../../api/Images/background.jpg');
    background-size: cover;
}
.body-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
}
.poster-information-container{
    display: flex;
    opacity: 1;
}
.trailer-container{
    display: flex;
    flex: 1;
    width: 62%;
    height: 700px;
    overflow: hidden;
    background-size:cover ;
    background-position: center;
    filter: brightness(0.8);
}
.information-container{
    width: 38%;
    display: flex;
    height: 700px;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
}
.poster-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.description-container{
    max-width: 450px;
}
.information{
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-top: 100px;
}

.big-poster{
    width: 150%; /* Ustawia szerokość obrazu na 200%, aby był powiększony i wystarczająco szeroki */
    height: 100%; /* Ustawia wysokość obrazu na 100%, aby zachować proporcje */
    object-fit: cover; /* Dopasowuje obraz, aby pokryć cały obszar, bez deformacji */
    object-position: center; /* Wyśrodkowuje obraz zarówno poziomo, jak i pionowo */
    transform: translateX(-15%); /* Przesuwa obraz w lewo o 50% jego szerokości, aby wyśrodkować */
}
.small-poster{
    width: 140px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(168, 163, 163);
    filter: brightness(1.3);
}
.movie-information{
    margin: 0;
    padding: 0;
}
.information-text-title{
    color: aliceblue;
    margin: 0;
    font-size: 18px;
}
.title-text{
    color: aliceblue;
}
.description-text{
    color: rgb(109, 112, 112);
}
.information-text{
    color: rgb(121, 120, 120);
    font-size: 14px;
}
.play-button{
    position: relative;
    z-index: 2;
}