
.dropdown-menu{
    overflow-y: scroll;
    max-height: 140px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width:220px;
}

.dropdown button{
    height: 50px;
    width: 220px;
}
