footer{
    width:100%;
    background: rgb(24, 24, 24);
    min-height: 150px;
    bottom:0;
    border-top: 2px solid rgb(32, 32, 32);
    margin-top:auto;
    color:white;
    text-transform: uppercase;
}

.cinemasHeader{
    margin-top: 30px;
}

.wrapper{
    max-width:1160px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap:50px;
}


.cinemaList{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap:15px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    color:white;
    text-decoration: none;
}

.cinemaList a{
    transition: all 0.4s ease;
}

.cinemaList a:hover{
    color: rgb(172, 13, 13);
}

.heading{
    margin: 15px 0 15px 0;
}

.link{
    text-decoration: none;
    color:rgb(167, 166, 166);
}

.footerSectionCenter{
    text-align: center;
    width:100%;
    margin-bottom: 20px;
}