.loginFormContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex:1;
}

.loginFormBorder{
    background: rgb(250, 250, 250);
    border: 3px solid rgb(0, 18, 82);
    border-radius: 53px;
    padding:65px 90px 65px 90px;
}

.loginFormInputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap:15px;
}

.loginForm{
    margin:0 auto;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginFormWrapper{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:45px;
}

.login-lbl{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 80px;
}

h1{
    padding: 0;
    margin-bottom: 60px;
    text-align: center;
}