.search-item-icon{
    max-width: 50px;
    max-height: 100px;
}
ul{
    list-style-type: none;
}
.search-results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 400px;
    overflow: auto;
    width: 309px;
    background-color: black;
  }
  .search-movie-link{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

.search-item-icon{
  color:black;
}

.search-results-list a{
  color:black;
}

.searchInput{
  width: 310px;
  
}

.glass{
  background-color: rgb(226, 226, 226);
  border-left: 1px solid black;
  border-radius: 7px;
}

.searchInput input{
  height: 50px;
}

.show-movie-title-list{
  margin: 0;
  
}

.resList{
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}

.resList a{
  padding: 6px 0 6px 6px;
  border-bottom: 1px solid rgb(107, 107, 107);
}

.resList a:hover{
  background-color: rgb(211, 211, 211);
}

.resList a:last-child{
  border-bottom: none;
}

.my-search-movie-link{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:13px;
}